.main-title{
  // max-width:70%;

  .si-logo{
    margin:80px auto 0px auto;
  }
  .title-indent{
    margin:30px 50px;
  }

  .big-text{
    font-size:1.5em;
  }

  .main-content{
    margin:30px;
  }
}