.search-example{
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  position:relative;

  header{
    background-image:url('');
    background:$search-orange;
    color:$white;
    padding:2rem 3rem;
    min-height:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    h2{
      font-size:3rem;
      font-weight:300;
      text-align:center;
    }

    .search{
      position:relative;
    }

    label{
      font-size:1rem;
      width:4.2rem;
    }
    input{
      transition:border .25s;
      font-family:'Quicksand', Helvetica, Arial, sans-serif;
      font-weight:400;
      font-size:1.5rem;
      border-radius:0px;
      background:none;
      border-top:none;
      border-right:none;
      border-left:none;
      color:#fff;
      border-bottom:2px solid #fff;
      width:400px;
      padding:20px 4rem 20px 20px;

    
      &::placeholder{
        color:#fff;
      }
      &::-ms-input-placeholder{
        color:#fff;
      }


      &:focus{
        border-bottom-width:10px;
        outline:1px solid;
        outline-offset:-1px;
        // outline-color:-webkit-focus-ring-color;
        outline-color:rgba(255,255,255,.5);

        ~ label {
          line-height:normal;
          // width:auto;
          height:auto;
          clip: auto;
          left:-4.2rem;
          top:1.5rem;

          @media #{$phone}{
            top:-1.5rem;
            left:5px;
          }
        }
      }

      @media #{$phone}{
        width:230px;
        padding-right:2.5rem;
      }
    }

    button{
      margin-left:-4rem;
      padding:1em;
      background:none;
      cursor:pointer;
      border:none;
      border-radius:10%;
      -webkit-appearance: none;

      &:hover, &:focus{
        background:#fff;
        outline:none;
        .icon-search1{
          color:$search-orange;
        }

        ~ label {
          line-height:normal;
          // width:auto;
          height:auto;
          clip: auto;
          left:-4.2rem;
          top:1.5rem;
          @media #{$phone}{
            top:-1.5rem;
            left:5px;
          }
        }
      }

      @media #{$phone}{
        padding:.5em;
        margin-left:-2.6rem;
      }
    }

    .icon-search1{
      color:#fff;
      font-size:1.5rem;
      
      @media #{$phone}{
        font-size:1rem;
      }
    }

  }
}