.si-logo {
  display: block; }
  .si-logo svg {
    display: block;
    position: relative;
    fill: #3c485e; }
  footer .si-logo {
    width: 200px;
    margin: 3rem; }
  .main-title .si-logo {
    width: 300px; }

* {
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  color: #3c485e; }

a {
  color: #0e38b1; }
  a:hover, a:focus {
    color: #000; }
  a:focus {
    outline: 2px dashed;
    outline-offset: 2px;
    outline-color: #0e38b1;
    outline-color: -webkit-focus-ring-color; }

h1 {
  font-weight: 700;
  font-size: 2.75em;
  color: #3c485e;
  margin-top: .8rem;
  margin-bottom: 1.5rem;
  position: relative; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2em; } }
  h1:before {
    content: '';
    width: 2.5rem;
    height: .3rem;
    display: block;
    margin-bottom: .15rem;
    background: #0bbcd6; }

pre {
  font-size: 1.5rem; }

.sr-only {
  position: absolute;
  left: -9999em;
  line-height: 0px;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0); }

.strike-through {
  text-decoration: line-through; }

.highlight {
  background: rgba(241, 209, 87, 0.5); }

.site-container {
  max-width: 1300px;
  margin: 3rem auto;
  padding: 0px 1rem; }
  @media screen and (max-width: 800px) {
    .site-container {
      margin: 1rem auto; } }

.site-card {
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  position: relative; }

.columns, .columns--equal {
  display: flex;
  flex-direction: row; }
  .columns--equal > div {
    margin-right: 20px;
    flex-basis: 50%; }
  @media screen and (max-width: 800px) {
    .columns, .columns--equal {
      flex-direction: column; } }

.button, .button-secondary, .button-primary-secondary, .main-nav ul li.is-active, .button-primary {
  text-decoration: none;
  text-align: center;
  background-color: #0e38b1;
  color: #fff;
  font-family: 'source Sans Pro', Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
  padding: .75rem 1rem;
  font-size: 1em;
  letter-spacing: 0.04rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02); }
  .button:hover, .button-secondary:hover, .button-primary-secondary:hover, .main-nav ul li.is-active:hover, .button:focus, .button-secondary:focus, .button-primary-secondary:focus, .main-nav ul li.is-active:focus, .button-primary:hover, .button-primary:focus {
    background-color: #13317b;
    color: #fff; }
  .button-secondary, .button-primary-secondary {
    background-color: transparent;
    color: #0e38b1;
    border: 1px solid #0e38b1; }
  .button.is-disabled, .is-disabled.button-secondary, .is-disabled.button-primary-secondary, .main-nav ul li.is-disabled.is-active, .button-primary.is-disabled {
    background: #f4f4f4;
    color: #444; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?vj85qz");
  src: url("fonts/icomoon.eot?vj85qz#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?vj85qz") format("truetype"), url("fonts/icomoon.woff?vj85qz") format("woff"), url("fonts/icomoon.svg?vj85qz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alert-circle:before {
  content: "\e903"; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-check:before {
  content: "\e902"; }

.icon-search1:before {
  content: "\e901"; }

.icon-search:before {
  content: "\f002"; }

.icon-check1:before {
  content: "\f00c"; }

.icon-exclamation-circle:before {
  content: "\f06a"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

footer {
  display: flex;
  flex-direction: row-reverse; }

.slide-buttons {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between; }

.slide {
  min-height: 70vh;
  margin: 0px 2%;
  position: relative; }
  .slide h2 {
    font-size: 2.2em; }
  .slide p, .slide li, .slide strong, .slide em {
    font-size: 1.5rem; }
  .slide li {
    margin: 1rem 0px; }
  .slide .flex-image img {
    width: 100%;
    display: block; }
  .slide .overlay-text, .slide .overlay-text--right, .slide .overlay-text--left {
    background: #fff;
    padding: 20px;
    font-size: 1rem; }
    .slide .overlay-text ul, .slide .overlay-text--right ul, .slide .overlay-text--left ul {
      padding: 0px 10px; }
    .slide .overlay-text li, .slide .overlay-text--right li, .slide .overlay-text--left li, .slide .overlay-text strong, .slide .overlay-text--right strong, .slide .overlay-text--left strong, .slide .overlay-text p, .slide .overlay-text--right p, .slide .overlay-text--left p {
      font-size: 1rem; }

.skip-link {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  height: 3rem;
  margin-top: -3rem; }
  .skip-link:focus {
    background: #222;
    color: #fff;
    margin-top: 0px; }

.main-nav .button-primary {
  font-size: 2rem;
  padding: 1rem 3rem; }

.main-nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px auto; }
  .main-nav ul li {
    margin: 1rem;
    position: relative; }
    .main-nav ul li a {
      height: 100%; }
    .main-nav ul li.is-active {
      background: #fff;
      color: #0e38b1;
      cursor: default; }
      .main-nav ul li.is-active:hover, .main-nav ul li.is-active:focus {
        background: #fff;
        color: #0e38b1;
        text-decoration: none; }
      .main-nav ul li.is-active:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 15px 0px 15px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -15px; }

.main-content {
  background: #fff;
  padding: 2rem;
  min-height: 50vh;
  display: block;
  position: relative; }
  .main-content.site-container {
    margin-top: 0px; }

.blog {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 800px) {
    .blog {
      flex-direction: column; } }
  .blog a {
    text-decoration: none;
    display: block;
    margin: 10px;
    border-bottom: 5px solid #fff;
    padding-bottom: 55px;
    color: #3c485e;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4; }
    .blog a:hover, .blog a:focus {
      border-bottom: 5px solid #205f94;
      border-top: 1px solid #454545;
      border-left: 1px solid #454545;
      border-right: 1px solid #454545; }
      .blog a:hover h2, .blog a:focus h2 {
        color: #14334d; }
      .blog a:hover p, .blog a:focus p {
        color: #3c485e; }
  .blog h2 {
    font-family: "Palatino Linotype", "Times New Roman", serif;
    font-weight: normal;
    color: #205f94;
    margin: 0px; }
  .blog .arrow-right {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 50px;
    height: 50px; }
    .blog .arrow-right svg {
      fill: #c08106;
      width: 100%;
      height: 100%; }
  .blog .blog_image {
    width: 100%;
    order: -1; }
  .blog .blog_header {
    display: flex;
    flex-direction: column; }
  .blog .blog_headline {
    order: 1;
    margin: 0px 2rem; }
  .blog .blog_category {
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 1.2em;
    letter-spacing: .1em;
    width: 200px;
    text-align: center;
    align-self: flex-end;
    margin-top: -1.2rem;
    margin-right: 10px;
    background: #222;
    color: #fff; }
    .blog .blog_category.winter {
      color: #fff;
      background: #003471; }
    .blog .blog_category.chickens {
      color: #fff;
      background: #2b5810; }
  .blog .blog_date {
    margin: 1rem 2rem;
    font-size: .8rem;
    font-style: italic; }
  .blog .blog_text {
    color: #3c485e;
    margin: 1rem 2rem; }

.main-title .si-logo {
  margin: 80px auto 0px auto; }

.main-title .title-indent {
  margin: 30px 50px; }

.main-title .big-text {
  font-size: 1.5em; }

.main-title .main-content {
  margin: 30px; }

.example-page .main-nav {
  margin: 0px;
  background: #ccc; }
  .example-page .main-nav ul {
    display: flex;
    padding: 1rem; }
    .example-page .main-nav ul li {
      margin: 0px .5rem 0px 0px; }
      .example-page .main-nav ul li .button-primary, .example-page .main-nav ul li.is-active {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0px; }

.search-example {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  position: relative; }
  .search-example header {
    background-image: url("");
    background: #b75d11;
    color: #fff;
    padding: 2rem 3rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .search-example header h2 {
      font-size: 3rem;
      font-weight: 300;
      text-align: center; }
    .search-example header .search {
      position: relative; }
    .search-example header label {
      font-size: 1.2rem;
      width: 4.6rem; }
    .search-example header input {
      transition: border .25s;
      font-family: 'Quicksand', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      border-radius: 0px;
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      border-bottom: 2px solid #fff;
      width: 400px;
      padding: 20px 4rem 20px 20px; }
      .search-example header input::placeholder {
        color: #fff; }
      .search-example header input::-ms-input-placeholder {
        color: #fff; }
      .search-example header input:focus {
        border-bottom-width: 10px;
        outline: 1px solid;
        outline-offset: -1px;
        outline-color: rgba(255, 255, 255, 0.5); }
        .search-example header input:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.6rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header input:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header input {
          width: 230px;
          padding-right: 2.5rem; } }
    .search-example header button {
      margin-left: -4rem;
      padding: 1em;
      background: none;
      cursor: pointer;
      border: none;
      border-radius: 10%;
      -webkit-appearance: none; }
      .search-example header button:hover, .search-example header button:focus {
        background: #fff;
        outline: none; }
        .search-example header button:hover .icon-search1, .search-example header button:focus .icon-search1 {
          color: #b75d11; }
        .search-example header button:hover ~ label, .search-example header button:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.6rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header button:hover ~ label, .search-example header button:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header button {
          padding: .5em;
          margin-left: -2.6rem; } }
    .search-example header .icon-search1 {
      color: #fff;
      font-size: 1.5rem; }
      @media screen and (max-width: 800px) {
        .search-example header .icon-search1 {
          font-size: 1rem; } }

.cart_example {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  margin-bottom: 80px; }
  .cart_example .progress {
    max-width: 80%;
    margin: 20px auto;
    font-size: 1.5rem;
    position: relative; }
    .cart_example .progress ol, .cart_example .progress ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
    .cart_example .progress-indicators, .cart_example .progress-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (max-width: 800px) {
        .cart_example .progress-indicators, .cart_example .progress-labels {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
    .cart_example .progress-indicators {
      z-index: 2;
      position: relative; }
      .cart_example .progress-indicators > span {
        margin: 0px 4rem; }
    .cart_example .progress-labels li {
      margin-top: 10px;
      text-align: center;
      flex-shrink: 0; }
    .cart_example .progress button {
      width: 11rem;
      -webkit-appearance: none;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 1rem;
      font-family: 'Quicksand', Helvetica, Arial, sans-serif;
      padding: .5rem 1rem;
      border-radius: 10px;
      border: 1px solid transparent; }
      .cart_example .progress button.is-complete {
        border: 1px solid #adadad;
        color: #205d03; }
        .cart_example .progress button.is-complete:hover, .cart_example .progress button.is-complete:focus {
          color: #205d03;
          border: 1px solid #3f9a17;
          text-decoration: none;
          background: #eff3ed; }
      .cart_example .progress button.is-inprogress {
        color: #205d03;
        border: 1px solid #3f9a17;
        text-decoration: none;
        background: #eff3ed;
        cursor: default; }
      .cart_example .progress button.is-disabled {
        color: #505050;
        cursor: default; }
        .cart_example .progress button.is-disabled:hover, .cart_example .progress button.is-disabled:focus {
          background: none; }
    .cart_example .progress_step {
      width: 2rem;
      height: 2rem;
      font-size: .8em;
      text-align: center;
      line-height: 2rem;
      border: 1px solid #333;
      background: #fff;
      border-radius: 50%;
      flex-shrink: 0; }
      @media screen and (max-width: 800px) {
        .cart_example .progress_step {
          display: none; } }
      .cart_example .progress_step.is-complete {
        border-color: #3f9a17;
        background-color: #3f9a17; }
        .cart_example .progress_step.is-complete:before {
          font-family: "icomoon" !important;
          content: "\e902";
          color: #fff; }
      .cart_example .progress_step.is-inprogress {
        border-color: #3f9a17; }
      .cart_example .progress_step.is-disabled {
        border-color: #bdbdbd;
        background: #f4f4f4; }
    .cart_example .progress-bar {
      background: #f4f4f4;
      height: .8rem;
      margin-top: .6rem;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 1;
      margin-left: 4rem;
      margin-right: 4rem;
      border: 1px solid #d8d8d8;
      border-radius: 5px; }
      @media screen and (max-width: 800px) {
        .cart_example .progress-bar {
          display: none; } }
      .cart_example .progress-bar .progress_fill {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 100%;
        padding: 0px 2rem;
        background: #3f9a17;
        box-sizing: content-box;
        text-indent: -999em;
        line-height: 0px; }
    .cart_example .progress-content .form-item {
      display: block;
      position: relative;
      margin: 10px; }
      .cart_example .progress-content .form-item label {
        display: block;
        font-size: .8em;
        font-weight: 400; }
      .cart_example .progress-content .form-item input {
        font-size: 1rem;
        padding: .5rem;
        font-family: 'Quicksand', Helvetica, Arial, sans-serif;
        min-width: 350px; }
        @media screen and (max-width: 800px) {
          .cart_example .progress-content .form-item input {
            min-width: auto;
            width: 100%; } }
    .cart_example .progress-content .product_summary {
      margin-left: auto;
      padding: 20px;
      background: #f4f4f4;
      border: 1px solid #ddd;
      min-width: 300px;
      width: 50%;
      margin-top: 20px;
      font-size: .8em; }
      .cart_example .progress-content .product_summary ol li {
        margin: 20px 0px; }
      @media screen and (max-width: 800px) {
        .cart_example .progress-content .product_summary {
          width: 100%;
          margin-left: 0px; } }
      .cart_example .progress-content .product_summary_total {
        font-size: .8em;
        margin: 30px 0px;
        padding: 20px;
        text-align: right;
        border-top: 1px solid #ccc; }
        .cart_example .progress-content .product_summary_total h4 {
          margin: 0px; }
  .cart_example .product {
    display: flex; }
    .cart_example .product img {
      width: 60px;
      height: 60px;
      background: #ddd;
      margin-right: 10px; }
    .cart_example .product_brand {
      font-size: .7em; }
    .cart_example .product_details > span {
      display: block; }
    .cart_example .product .product_price {
      margin-left: auto; }
      .cart_example .product .product_price .price {
        font-weight: 400;
        margin-left: 10px; }
        .cart_example .product .product_price .price.strike-through {
          font-weight: 300; }

.form_example {
  background: #008289;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #008289 0%, #4ba87b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #008289 0%, #4ba87b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #008289 0%, #4ba87b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008289', endColorstr='#4ba87b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  padding: 2em 4em;
  font-size: 1.5rem; }
  @media screen and (max-width: 800px) {
    .form_example {
      padding: 20px; } }
  .form_example input:focus, .form_example button:focus {
    outline: 2px solid;
    outline-offset: 2px;
    outline-color: #f5d027; }
    .form_example input:focus[type=checkbox] + .custom-checkbox, .form_example input:focus[type=radio] + .custom-radio, .form_example button:focus[type=checkbox] + .custom-checkbox, .form_example button:focus[type=radio] + .custom-radio {
      outline: 2px solid;
      outline-offset: 2px;
      outline-color: #f5d027; }
  .form_example h2 {
    text-align: center; }
  .form_example .error-button {
    color: #fff;
    background: #a50000;
    height: 1.5em;
    width: 1.5em;
    margin-right: -1.5em;
    text-align: center;
    vertical-align: bottom;
    margin-left: -.25em;
    display: inline-block;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    z-index: 2; }
    .form_example .error-button:hover, .form_example .error-button:focus {
      background: #b50000; }
    .form_example .error-button:before {
      display: block;
      line-height: 1.4em; }
    @media screen and (max-width: 800px) {
      .form_example .error-button {
        display: inline-block;
        margin: 0px;
        vertical-align: top;
        position: relative; } }
  .form_example .error-message {
    background: #b50000;
    font-size: .6em;
    display: block;
    padding: 5px 20px 5px 5px;
    font-weight: 700;
    letter-spacing: .04em;
    position: absolute;
    width: calc(100% + 2.1em);
    text-align: right;
    left: auto; }
    .form_example .error-message.is-hidden {
      line-height: 0px;
      font-size: 0px;
      padding: 0px;
      width: 1px;
      height: 1px;
      clip: rect(0, 0, 0, 0);
      left: -999em; }
    @media screen and (max-width: 800px) {
      .form_example .error-message {
        position: relative;
        text-align: left;
        display: inline-block;
        width: auto;
        line-height: 2em;
        vertical-align: top;
        height: 2.5em;
        left: auto; }
        .form_example .error-message.is-hidden {
          position: absolute;
          left: -999em; } }
  .form_example form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px; }
  .form_example .form-item {
    margin: 1em;
    position: relative; }
    .form_example .form-item > label, .form_example .form-item legend {
      display: block;
      font-weight: 400;
      font-size: 0.8em;
      letter-spacing: .03em; }
    .form_example .form-item textarea {
      -webkit-appearance: none;
      resize: vertical; }
    .form_example .form-item > input, .form_example .form-item textarea {
      padding: .5em;
      border: 1px solid #fff;
      font-weight: 300;
      font-family: 'Hind', Helvetica, Arial, sans-serif;
      color: #008289;
      font-size: 1em;
      min-width: 400px;
      border-radius: 2px; }
      .form_example .form-item > input[aria-invalid=true], .form_example .form-item textarea[aria-invalid=true] {
        border: 1px solid #a50000; }
      @media screen and (max-width: 800px) {
        .form_example .form-item > input, .form_example .form-item textarea {
          min-width: auto;
          display: block; } }
      .form_example .form-item > input::placeholder, .form_example .form-item textarea::placeholder {
        color: rgba(0, 130, 137, 0.7); }
      .form_example .form-item > input::-ms-input-placeholder, .form_example .form-item textarea::-ms-input-placeholder {
        color: rgba(0, 130, 137, 0.7); }
  .form_example fieldset {
    border: none;
    margin: 0px;
    clear: both;
    padding-bottom: 1.2em; }
    .form_example fieldset[aria-invalid=true] {
      border: 1px solid #a50000; }
    .form_example fieldset > div {
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      @media screen and (max-width: 800px) {
        .form_example fieldset > div {
          flex-direction: column; } }
    .form_example fieldset legend {
      margin-bottom: 10px;
      text-align: center; }
      @media screen and (max-width: 800px) {
        .form_example fieldset legend {
          text-align: left; } }
    .form_example fieldset .fieldset-item {
      display: flex;
      margin: 10px 0px; }
    .form_example fieldset .error-button {
      position: absolute;
      right: 0px;
      bottom: 0px; }
    .form_example fieldset .error-message {
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 100%; }
      @media screen and (max-width: 800px) {
        .form_example fieldset .error-message {
          position: absolute;
          right: 2.5em;
          width: auto;
          padding-left: 20px; } }
    .form_example fieldset input[type=radio], .form_example fieldset input[type=checkbox] {
      height: 1.7rem;
      width: 1.7rem;
      box-sizing: content-box;
      margin: 0px;
      border: 2px solid #fff;
      opacity: 0;
      position: absolute;
      z-index: 99; }
      .form_example fieldset input[type=radio] + .custom-radio, .form_example fieldset input[type=radio] + .custom-checkbox, .form_example fieldset input[type=checkbox] + .custom-radio, .form_example fieldset input[type=checkbox] + .custom-checkbox {
        display: block;
        box-sizing: content-box;
        height: 1em;
        width: 1em;
        border: 2px solid #fff;
        margin-right: 10px;
        text-align: center;
        border-radius: 2px;
        background: #fff; }
      .form_example fieldset input[type=radio] + .custom-radio, .form_example fieldset input[type=checkbox] + .custom-radio {
        border-radius: 50%; }
      .form_example fieldset input[type=radio]:hover + .custom-radio,
      .form_example fieldset input[type=radio]:focus + .custom-radio,
      .form_example fieldset input[type=radio]:hover _ .custom-checkbox,
      .form_example fieldset input[type=radio]:focus + .custom-checkbox, .form_example fieldset input[type=checkbox]:hover + .custom-radio,
      .form_example fieldset input[type=checkbox]:focus + .custom-radio,
      .form_example fieldset input[type=checkbox]:hover _ .custom-checkbox,
      .form_example fieldset input[type=checkbox]:focus + .custom-checkbox {
        background: rgba(255, 255, 255, 0.5); }
      .form_example fieldset input[type=radio]:checked + .custom-radio:before, .form_example fieldset input[type=checkbox]:checked + .custom-radio:before {
        content: '';
        width: 60%;
        height: 60%;
        background: #008289;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        margin-top: 20%; }
      .form_example fieldset input[type=radio]:checked + .custom-checkbox:before, .form_example fieldset input[type=checkbox]:checked + .custom-checkbox:before {
        font-family: "icomoon" !important;
        content: '\f00c';
        font-size: .8em;
        line-height: 1.2em;
        color: #008289;
        display: block;
        position: relative; }
      .form_example fieldset input[type=radio] ~ label, .form_example fieldset input[type=checkbox] ~ label {
        margin-right: 1em; }
  .form_example input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer;
    border: 1px solid #fff;
    margin: 20px 0px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    padding: .5em 2em;
    font-size: 1.2em;
    font-family: 'Hind', Helvetica, Arial, sans-serif;
    border-radius: 5px; }
    .form_example input[type=submit]:hover, .form_example input[type=submit]:focus {
      background: #fff;
      color: #008289; }
  .form_example .thanks {
    display: none;
    text-align: center;
    min-height: 800px; }
