.si-logo {
  display: block; }
  .si-logo svg {
    display: block;
    position: relative; }
  footer .si-logo {
    width: 400px;
    margin: 3rem; }
    footer .si-logo svg {
      fill: #3c485e; }

* {
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  color: #3c485e; }

a {
  color: #0e38b1; }
  a:hover, a:focus {
    color: #000; }
  a:focus {
    outline: 2px dashed;
    outline-offset: 2px;
    outline-color: #0e38b1;
    outline-color: -webkit-focus-ring-color; }

h1 {
  font-weight: 700;
  font-size: 2.75em;
  color: #3c485e;
  margin-top: .8rem;
  margin-bottom: 1.5rem;
  position: relative; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2em; } }
  h1:before {
    content: '';
    width: 2.5rem;
    height: .3rem;
    display: block;
    margin-bottom: .15rem;
    background: #0bbcd6; }

.sr-only {
  position: absolute;
  left: -9999em;
  line-height: 0px;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0); }

.strike-through {
  text-decoration: line-through; }

.site-container {
  max-width: 1300px;
  margin: 3rem auto;
  padding: 0px 1rem; }
  @media screen and (max-width: 800px) {
    .site-container {
      margin: 1rem auto; } }

.site-card {
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  position: relative; }

.columns, .columns--equal {
  display: flex;
  flex-direction: row; }
  .columns--equal > div {
    flex-basis: 50%; }
  @media screen and (max-width: 800px) {
    .columns, .columns--equal {
      flex-direction: column; } }

.button, .button-secondary, .button-primary-secondary, .button-primary {
  text-decoration: none;
  text-align: center;
  background-color: #0e38b1;
  color: #fff;
  font-family: 'source Sans Pro', Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
  padding: .75rem 1rem;
  font-size: 1em;
  letter-spacing: 0.04rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02); }
  .button:hover, .button-secondary:hover, .button-primary-secondary:hover, .button:focus, .button-secondary:focus, .button-primary-secondary:focus, .button-primary:hover, .button-primary:focus {
    background-color: #13317b;
    color: #fff; }
  .button-secondary, .button-primary-secondary {
    background-color: transparent;
    color: #0e38b1;
    border: 1px solid #0e38b1; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?rnkjya");
  src: url("fonts/icomoon.eot?rnkjya#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?rnkjya") format("truetype"), url("fonts/icomoon.woff?rnkjya") format("woff"), url("fonts/icomoon.svg?rnkjya#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-check:before {
  content: "\e902"; }

.icon-search1:before {
  content: "\e901"; }

.icon-search:before {
  content: "\f002"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

footer {
  display: flex; }

.skip-link {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  height: 3rem;
  margin-top: -3rem; }
  .skip-link:focus {
    background: #222;
    color: #fff;
    margin-top: 0px; }

.main-content {
  background: #fff;
  padding: 2rem;
  min-height: 50vh; }
  .main-content.site-container {
    margin-top: 0px; }

.blog {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 800px) {
    .blog {
      flex-direction: column; } }
  .blog a {
    text-decoration: none;
    display: block;
    margin: 10px;
    border-bottom: 5px solid #fff;
    padding-bottom: 55px;
    color: #3c485e;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4; }
    .blog a:hover, .blog a:focus {
      border-bottom: 5px solid #205f94;
      border-top: 1px solid #454545;
      border-left: 1px solid #454545;
      border-right: 1px solid #454545; }
      .blog a:hover h2, .blog a:focus h2 {
        color: #14334d; }
      .blog a:hover p, .blog a:focus p {
        color: #3c485e; }
  .blog h2 {
    font-family: "Palatino Linotype", "Times New Roman", serif;
    font-weight: normal;
    color: #205f94;
    margin: 0px; }
  .blog .arrow-right {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 50px;
    height: 50px; }
    .blog .arrow-right svg {
      fill: #c08106;
      width: 100%;
      height: 100%; }
  .blog .blog_image {
    width: 100%;
    order: -1; }
  .blog .blog_header {
    display: flex;
    flex-direction: column; }
  .blog .blog_headline {
    order: 1;
    margin: 0px 2rem; }
  .blog .blog_category {
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 1.2em;
    letter-spacing: .1em;
    width: 200px;
    text-align: center;
    align-self: flex-end;
    margin-top: -1.2rem;
    margin-right: 10px;
    background: #222;
    color: #fff; }
    .blog .blog_category.winter {
      color: #fff;
      background: #003471; }
    .blog .blog_category.chickens {
      color: #fff;
      background: #387712; }
  .blog .blog_date {
    margin: 1rem 2rem;
    font-size: .8rem;
    font-style: italic; }
  .blog .blog_text {
    color: #3c485e;
    margin: 1rem 2rem; }

.example-page .main-nav {
  margin: 0px;
  background: #ccc; }
  .example-page .main-nav ul {
    display: flex;
    padding: 1rem; }
    .example-page .main-nav ul li {
      margin: 0px .5rem 0px 0px; }
      .example-page .main-nav ul li .button-primary, .example-page .main-nav ul li.is-active {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0px; }

.search-example {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  position: relative; }
  .search-example header {
    background-image: url("");
    background: #b75d11;
    color: #fff;
    padding: 2rem 3rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .search-example header h2 {
      font-size: 3rem;
      font-weight: 300;
      text-align: center; }
    .search-example header .search {
      position: relative; }
    .search-example header label {
      font-size: 1rem;
      width: 4.2rem; }
    .search-example header input {
      transition: border .25s;
      font-family: 'Quicksand', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      border-radius: 0px;
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      border-bottom: 2px solid #fff;
      width: 400px;
      padding: 20px 4rem 20px 20px; }
      .search-example header input::placeholder {
        color: #fff; }
      .search-example header input::-ms-input-placeholder {
        color: #fff; }
      .search-example header input:focus {
        border-bottom-width: 10px;
        outline: 1px solid;
        outline-offset: -1px;
        outline-color: rgba(255, 255, 255, 0.5); }
        .search-example header input:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.2rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header input:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header input {
          width: 230px;
          padding-right: 2.5rem; } }
    .search-example header button {
      margin-left: -4rem;
      padding: 1em;
      background: none;
      cursor: pointer;
      border: none;
      border-radius: 10%;
      -webkit-appearance: none; }
      .search-example header button:hover, .search-example header button:focus {
        background: #fff;
        outline: none; }
        .search-example header button:hover .icon-search1, .search-example header button:focus .icon-search1 {
          color: #b75d11; }
        .search-example header button:hover ~ label, .search-example header button:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.2rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header button:hover ~ label, .search-example header button:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header button {
          padding: .5em;
          margin-left: -2.6rem; } }
    .search-example header .icon-search1 {
      color: #fff;
      font-size: 1.5rem; }
      @media screen and (max-width: 800px) {
        .search-example header .icon-search1 {
          font-size: 1rem; } }

.cart_example {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  min-height: 50vh;
  margin-bottom: 80px; }
  .cart_example .progress {
    max-width: 80%;
    margin: 20px auto;
    font-size: 1.5rem;
    position: relative; }
    .cart_example .progress ol, .cart_example .progress ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
    .cart_example .progress-indicators, .cart_example .progress-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (max-width: 800px) {
        .cart_example .progress-indicators, .cart_example .progress-labels {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
    .cart_example .progress-indicators {
      z-index: 2;
      position: relative; }
      .cart_example .progress-indicators > span {
        margin: 0px 4rem; }
    .cart_example .progress-labels li {
      margin-top: 10px;
      text-align: center;
      flex-shrink: 0; }
    .cart_example .progress button {
      width: 11rem;
      -webkit-appearance: none;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 1rem;
      font-family: 'Quicksand', Helvetica, Arial, sans-serif;
      padding: .5rem 1rem;
      border-radius: 10px;
      border: 1px solid transparent; }
      .cart_example .progress button.is-complete {
        border: 1px solid #adadad;
        color: #205d03; }
        .cart_example .progress button.is-complete:hover, .cart_example .progress button.is-complete:focus {
          color: #205d03;
          border: 1px solid #3f9a17;
          text-decoration: none;
          background: #eff3ed; }
      .cart_example .progress button.is-inprogress {
        color: #205d03;
        border: 1px solid #3f9a17;
        text-decoration: none;
        background: #eff3ed;
        cursor: default; }
      .cart_example .progress button.is-disabled {
        color: #505050;
        cursor: default; }
        .cart_example .progress button.is-disabled:hover, .cart_example .progress button.is-disabled:focus {
          background: none; }
    .cart_example .progress_step {
      width: 2rem;
      height: 2rem;
      font-size: .8em;
      text-align: center;
      line-height: 2rem;
      border: 1px solid #333;
      background: #fff;
      border-radius: 50%;
      flex-shrink: 0; }
      @media screen and (max-width: 800px) {
        .cart_example .progress_step {
          display: none; } }
      .cart_example .progress_step.is-complete {
        border-color: #3f9a17;
        background-color: #3f9a17; }
        .cart_example .progress_step.is-complete:before {
          font-family: "icomoon" !important;
          content: "\e902";
          color: #fff; }
      .cart_example .progress_step.is-inprogress {
        border-color: #3f9a17; }
      .cart_example .progress_step.is-disabled {
        border-color: #bdbdbd;
        background: #f4f4f4; }
    .cart_example .progress_bar {
      background: #f4f4f4;
      height: .8rem;
      margin-top: .6rem;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 1;
      margin-left: 4rem;
      margin-right: 4rem;
      border: 1px solid #d8d8d8;
      border-radius: 5px; }
      @media screen and (max-width: 800px) {
        .cart_example .progress_bar {
          display: none; } }
      .cart_example .progress_bar .progress_fill {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 100%;
        padding: 0px 2rem;
        background: #3f9a17;
        box-sizing: content-box; }
    .cart_example .progress_content .form-item {
      display: block;
      position: relative;
      margin: 10px; }
      .cart_example .progress_content .form-item label {
        display: block;
        font-size: .8em;
        font-weight: 400; }
      .cart_example .progress_content .form-item input {
        font-size: 1rem;
        padding: .5rem;
        font-family: 'Quicksand', Helvetica, Arial, sans-serif;
        min-width: 350px; }
        @media screen and (max-width: 800px) {
          .cart_example .progress_content .form-item input {
            min-width: auto;
            width: 100%; } }
    .cart_example .progress_content .product_summary {
      margin-left: auto;
      padding: 20px;
      background: #f4f4f4;
      border: 1px solid #ddd;
      min-width: 300px;
      width: 50%;
      margin-top: 20px;
      font-size: .8em; }
      .cart_example .progress_content .product_summary ol li {
        margin: 20px 0px; }
      @media screen and (max-width: 800px) {
        .cart_example .progress_content .product_summary {
          width: 100%;
          margin-left: 0px; } }
      .cart_example .progress_content .product_summary_total {
        font-size: .8em;
        margin: 30px 0px;
        padding: 20px;
        text-align: right;
        border-top: 1px solid #ccc; }
        .cart_example .progress_content .product_summary_total h4 {
          margin: 0px; }
  .cart_example .product {
    display: flex; }
    .cart_example .product img {
      width: 60px;
      height: 60px;
      background: #ddd;
      margin-right: 10px; }
    .cart_example .product_brand {
      font-size: .7em; }
    .cart_example .product_details > span {
      display: block; }
    .cart_example .product .product_price {
      margin-left: auto; }
      .cart_example .product .product_price .price {
        font-weight: 400;
        margin-left: 10px; }
        .cart_example .product .product_price .price.strike-through {
          font-weight: 300; }
