* {
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  color: #3c485e; }

a {
  color: #0e38b1; }
  a:hover, a:focus {
    color: #000; }
  a:focus {
    outline: 2px dashed;
    outline-offset: 2px;
    outline-color: #0e38b1;
    outline-color: -webkit-focus-ring-color; }

h1 {
  font-weight: 700;
  font-size: 2.75em;
  color: #3c485e;
  margin-top: .8rem;
  margin-bottom: 1.5rem;
  position: relative; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2em; } }
  h1:before {
    content: '';
    width: 2.5rem;
    height: .3rem;
    display: block;
    margin-bottom: .15rem;
    background: #0bbcd6; }

.sr-only {
  position: absolute;
  left: -9999em;
  line-height: 0px;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0); }

.site-container {
  max-width: 1300px;
  margin: 3rem auto;
  padding: 0px 1rem; }
  @media screen and (max-width: 800px) {
    .site-container {
      margin: 1rem auto; } }

.site-card {
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  position: relative; }

.button, .button-secondary, .button-primary-secondary, .button-primary {
  text-decoration: none;
  text-align: center;
  background-color: #0e38b1;
  color: #fff;
  font-family: 'source Sans Pro', Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
  padding: .75rem 1rem;
  font-size: 1em;
  letter-spacing: 0.04rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02);
  box-shadow: 0 2px 4px rgba(40, 49, 66, 0.12), 0 1px 16px rgba(40, 49, 66, 0.02); }
  .button:hover, .button-secondary:hover, .button-primary-secondary:hover, .button:focus, .button-secondary:focus, .button-primary-secondary:focus, .button-primary:hover, .button-primary:focus {
    background-color: #13317b;
    color: #fff; }
  .button-secondary, .button-primary-secondary {
    background-color: transparent;
    color: #0e38b1;
    border: 1px solid #0e38b1; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?jozko3");
  src: url("fonts/icomoon.eot?jozko3#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?jozko3") format("truetype"), url("fonts/icomoon.woff?jozko3") format("woff"), url("fonts/icomoon.svg?jozko3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-search1:before {
  content: "\e901"; }

.icon-search:before {
  content: "\f002"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.skip-link {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  height: 3rem;
  margin-top: -3rem; }
  .skip-link:focus {
    background: #222;
    color: #fff;
    margin-top: 0px; }

.main-content {
  background: #fff;
  padding: 2rem;
  min-height: 50vh; }
  .main-content.site-container {
    margin-top: 0px; }

.example-page .main-nav {
  margin: 0px;
  background: #ccc; }
  .example-page .main-nav ul {
    display: flex;
    padding: 1rem; }
    .example-page .main-nav ul li {
      margin: 0px .5rem 0px 0px; }
      .example-page .main-nav ul li .button-primary, .example-page .main-nav ul li.is-active {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0px; }

.search-example {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  position: relative; }
  .search-example header {
    background-image: url("");
    background: #ca650f;
    color: #fff;
    padding: 2rem 3rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .search-example header h2 {
      font-size: 3rem;
      font-weight: 300;
      text-align: center; }
    .search-example header .search {
      position: relative; }
    .search-example header label {
      font-size: 1rem;
      width: 4.2rem; }
    .search-example header input {
      transition: border .25s;
      font-family: 'Quicksand', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      border-radius: 0px;
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      border-bottom: 2px solid #fff;
      width: 400px;
      padding: 20px 4rem 20px 20px; }
      .search-example header input::placeholder {
        color: #fff; }
      .search-example header input::-ms-input-placeholder {
        color: #fff; }
      .search-example header input:focus {
        border-bottom-width: 10px;
        outline: 1px solid;
        outline-offset: -1px;
        outline-color: rgba(255, 255, 255, 0.5); }
        .search-example header input:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.2rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header input:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header input {
          width: 230px;
          padding-right: 2.5rem; } }
    .search-example header button {
      margin-left: -4rem;
      padding: 1em;
      background: none;
      cursor: pointer;
      border: none;
      border-radius: 10%;
      -webkit-appearance: none; }
      .search-example header button:hover, .search-example header button:focus {
        background: #fff;
        outline: none; }
        .search-example header button:hover .icon-search1, .search-example header button:focus .icon-search1 {
          color: #ca650f; }
        .search-example header button:hover ~ label, .search-example header button:focus ~ label {
          line-height: normal;
          height: auto;
          clip: auto;
          left: -4.2rem;
          top: 1.5rem; }
          @media screen and (max-width: 800px) {
            .search-example header button:hover ~ label, .search-example header button:focus ~ label {
              top: -1.5rem;
              left: 5px; } }
      @media screen and (max-width: 800px) {
        .search-example header button {
          padding: .5em;
          margin-left: -2.6rem; } }
    .search-example header .icon-search1 {
      color: #fff;
      font-size: 1.5rem; }
      @media screen and (max-width: 800px) {
        .search-example header .icon-search1 {
          font-size: 1rem; } }
