*{
  box-sizing:border-box;
}
body {
  font-size:1em;
  line-height:1.4;
  margin:0px;
  padding:0px;
  font-family: $font-family;
  background:$grey;
  box-sizing:border-box;
  position:relative;
  min-height:100vh;
  color:$base-blue;
}

a {
  color: $cobalt;
  &:hover,&:focus{
    color:#000;
  }
  &:focus{
    @include focus;
  }
}

h1{
  font-weight:700;
  font-size:2.75em;
  color:$base-blue;
  margin-top:.8rem;
  margin-bottom:1.5rem;
  position:relative;

  @media #{$phone}{
    font-size:2em;
  }
  &:before{
    @include focusline(2.5rem);
  }
}

pre{
  font-size:1.5rem;
}
.sr-only{
  position:absolute;
  left:-9999em;
  line-height:0px;
  width:1px;
  height:1px;
  clip:rect(0,0,0,0);
}

.strike-through{
  text-decoration:line-through;
}