.columns{
  display:flex;
  flex-direction:row;

  &--equal{
    @extend .columns;
    > div{
      margin-right:20px;
      flex-basis:50%;
    }
  }

  @media #{$phone}{
    flex-direction:column;
  }
}